// 內容-------------------------------------------


//================================================
// banner-------------------------------------------
//================================================
.banner {
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    height: 840px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png);

    .container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        h2 {
            color: $accent;
            font-size: 64px;
            line-height: 1.5;
            font-weight: bolder;
            text-align: right;

            span {
                font-size: 36px;
                display: block;
            }
        }

    }

    @include iPad() {
        height: 394px;
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png);

        .container {
            h2 {
                font-size: 28px;

                span {
                    font-size: $font-sl;
                }
            }
        }
    }
}






//================================================
// 服務項目-------------------------------------------
//================================================
// 服務項目
.indexServiceBg {
    background-color: $secondary;
    padding: 60px 0 80px;

    ul.indexService {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -15px;

        li {
            width: 25%;
            text-align: center;
            padding: 0 15px;
        }
    }

    @include iPad() {
        ul.indexService {
            margin: 0 -15px -55px;

            li {
                width: 50%;
                padding: 0 15px 55px;
            }
        }
    }

    @include iPhone6() {
        ul.indexService {
            margin: 0 0px -40px;

            li {
                width: 100%;
                padding: 0 0px 40px;
            }
        }
    }
}

ul.indexService {
    img {
        width: 84px;
        height: 84px;
        margin: 0 auto;
    }

    h4 {
        color: $accent;
        font-size: $font-ml;
        margin-top: 24px;
        font-weight: bolder;
        display: inline-block;
    }

    p {
        color: $info;
        font-size: $font-sl;
        margin-top: 8px;
        text-align: left;
    }

}







//================================================
// 經典系列鏡框-------------------------------------------
//================================================

// 經典系列鏡框
.indexFrameBg {
    padding: 60px 0 80px;

    ul.indexFrame {
        margin: -16px 0;

        li {
            display: flex;
            flex-direction: row;
            padding: 16px 0;
            margin: 0 -30px;

            &:nth-child(2n) {
                flex-direction: row-reverse;
            }

        }
    }

    @include iPad() {
        ul.indexFrame {
            margin: -10px 0;

            li {
                padding: 10px 0;
                margin: 0 -15px;

                &:nth-child(2n) {
                    flex-direction: row;
                }

            }
        }
    }

    @include iPhone6() {
        ul.indexFrame {
            margin-bottom: -8px;

            li {
                margin: 0 0px 0px;
                padding: 0 0 8px;
                position: relative;
            }
        }
    }
}

.indexFrameBg {

    img {
        width: 60%;
        padding: 0 15px;
    }

    .text {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        color: $primary;
        font-size: $font-cl;

        span {
            display: block;
            font-size: $font-cl;
        }

        h4 {
            font-weight: bolder;
            font-style: italic;
            padding-left: 10px;
        }
    }

    @include desktop() {
        .text {
            font-size: $font-ml;

            span {
                font-size: $font-ml;
            }
        }
    }

    @include iPad() {
        img {
            width: 47%;
        }
    }

    @include iPhone6() {
        img {
            width: 100%;
            padding: 0px;
        }

        .text {
            // font-size: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            justify-content: center;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    }
}











//================================================
// 聯名設計鏡框-------------------------------------------
//================================================

// 聯名設計鏡框
.indexJointNameBg {
    padding: 60px 0 80px;
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h3.tit {
        color: #fff !important;
    }
}


.indexJointNameBg {
    ul {
        display: flex;
        justify-content: space-between;

        li {
            position: relative;
            width: 49%;
            padding-top: 33.7%;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(255, 255, 255, 0.5);
            background-blend-mode: overlay;

            h4 {
                display: block;
                font-size: 72px;
                color: $primary;
                font-weight: bolder;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 90%;
                font-family: 'Roboto', sans-serif;
            }
        }

        @include desktop() {
            li {
                h4 {
                    font-size: $font-ml;
                }
            }
        }

        @include iPhone6() {
            margin: 0 0 -10px;
            display: block;
            justify-content: unset;

            li {
                width: 100%;
                margin: 0 0 10px;
                padding-top: 67%;
            }
        }
    }
}













//================================================
// 顧客推薦-------------------------------------------
//================================================


// 顧客推薦
.indexRecommendBg {
    padding: 60px 0 80px;

    ul {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li.list {
            padding: 0 15px;
            width: 25%;
            display: flex;
            align-items: stretch;

            .listIn {
                box-shadow: 0px 0px 7px #dee2e6;
                border: 1px #dee2e6 solid;

            }
        }

    }

    @include desktop() {
        ul {
            margin: -15px 0;

            li.list {
                width: 48%;
                display: block;
                padding: 15px 0;
            }

        }
    }

    @include iPhone6() {
        ul {
            margin: -15px 0;

            li.list {
                width: 100%;
                display: block;
                padding: 15px 0;
            }

        }
    }
}


.indexRecommendBg {
    img {}

    .bottom {
        padding: 16px;
        font-size: $font-sl;

        h4 {
            font-size: $font-fl;
            color: #212529;
        }

        p {
            color: #212529;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            min-height: 72px;

            @include iPhone6() {
                min-height: unset;
            }
        }

        span {
            color: #707070;
            display: block;
            margin-top: 52px;
            font-family: 'Roboto', sans-serif;
        }
    }
}














//================================================
// 聯絡我們-------------------------------------------
//================================================


// 聯絡我們{
.contactBg {
    padding: 60px 0 80px;
    background-color: $secondary;
    line-height: 1.5;

    .container {
        width: 60% !important;
        h3.tit {
            color: #000000 !important;
        }
    
        p {
            font-size: $font-nl;
            color: #000000;
            margin-bottom: 20px;
        }
    }
    @include iPad(){
        .container {
            width: 90% !important;
        }
    }
}

.contactBg {

    form {
        margin: 0px 0 -16px;
        font-size:$font-sl;
        label {
            margin: 0;
            padding: 0;           
            color: #000000;
            margin-bottom: 5px;
            display: inline-block;
            vertical-align: text-bottom;
        }
        input {
            border: 1px solid #5a5a5a;
            height: 50px;
            width: 100%;
            padding: 12px 16px;
            box-sizing: border-box;
            border-radius: 3px;
            margin-bottom: 16px;
            display: block;
        }

        textarea {
            border: 1px solid #5a5a5a;
            height: 136px;
            width: 100%;
            padding: 12px 16px;
            box-sizing: border-box;
            border-radius: 3px;
            margin-bottom: 16px;
            display: block;
        }
        .check{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            label{
                margin: 0 0 0 5px;
            }
            input[type="checkbox"] {
                width: 24px;
                height: 24px;
                display: inline-block;
                margin: 0;
            }
        }

        input[type="submit"] {
            margin: 40px auto 0;
            height: 54px;
            font-size: $font-sl;
            background-color: #AA0601;
            color: #fff;
            border: #AA0601 1px solid;
            border-radius: 3px;
            max-width: 350px;
        }

        @include iPad(){
            input[type="submit"] {
                max-width:210px;
            }
        }
        @include iPhone6(){
            margin: 0;
            input[type="submit"] {
                margin: 20px auto 0;
                max-width:165px;
                height: 36px;
                padding: 0;
            }
        }

    }
}




@include iPhone6() {

    .indexServiceBg,
    .indexFrameBg,
    .indexJointNameBg,
    .indexRecommendBg,
    .contactBg {
        padding: 32px 0;
    }
}




