
//================================================
// 版頭-------------------------------------------
//================================================
.header {
  background-color: $primary;
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


    .logo{
      a{
        background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 80px;
        height: 49px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    ul.navbar{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -32px;
      li.nav{
        padding: 0 32px;
        a{
          font-size: $font-nl;
          color: #fff;
        }
      }
    }

    //max-width: 768px
    @include iPad(){
      padding: 30px 20px;
      .logo{
        a{
          width: 55px;
          height: 34px;
        }
      }
      ul.navbar{
        margin: 0 -10px;
        li.nav{
          padding: 0 10px;
          a{
            font-size: $font-sl;
          }
        }
      }
    }

    //max-width: 414px
    @include iPhone6(){
      padding: 0px 0px 0;
      flex-direction: column;
      .logo{
        padding: 10px 0 10px;
        a{
          width: 48px;
          height: 30px;
        }
      }
      ul.navbar{
        margin: 0 0px;
        justify-content: center;
        width: 100%;
        border-bottom: 1px #fff solid;
        li.nav{
          padding: 10px 10px;
          width: 50%;
          text-align: center;
          border-top: 1px #fff solid;
          border-left: 1px #fff solid;
          &:nth-of-type(1){
            border-left: 0px #fff solid;
          }
          &:nth-of-type(3){
            border-left: 0px #fff solid;
          }
        }
      }
    }    


}









//================================================
// 版腳-------------------------------------------
//================================================

.footer{
  background-color: $primary;
  padding: 44px 0;
  .container{ 
    width: 80%;
    margin: 0 auto;  
  }
  //max-width: 1200px
  @include desktop(){
    .container{ 
      width: 90%;
    }
  }
  @include iPad(){
    padding: 24px 0;
  }

}

  // 版腳上--------------------------------

  .footerT{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px #FFFFFF solid;
  }

    // 版腳上左--------------------------------
    .footerTL{
    }

      //版腳主案件
      .navbar_f {
        margin: 0 -24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li.nav_f {
          padding: 0 24px;
          a {
            font-size:$font-sl;
            color: #fff;
          }
        }
        //max-width: 1200px
        @include desktop(){
          margin: 0 -20px;
          li.nav_f {
            padding: 0 20px;
          }
        }
        @include iPad(){
          display: none;
        }
      }

      // 聯絡資訊
      .contactDetails {
        margin: 15px 0;
        li{    
          display: flex;
          flex-wrap: wrap;
          align-items: center; 
          padding: 10px 0;   
        }
        img {
          width: 36px;
        }
        a {
          padding-left: 5px;
          font-size: $font-cl;
          color: #fff;
        }
        @include desktop(){
          margin: 0px 0;
          img {
            width: 20px;
          }
          a {
            font-size: $font-nl;
          }
        }
      }



    // 版腳上右--------------------------------
    .footerTR{
    }
      //版腳社群
      .CommunityArea {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -16px;
        li{
          padding: 0 16px;
          a {
            img{
              width: 48px;
            }
          }
        }
        @include desktop(){
          margin: 0 -10px;
          li{
            padding: 0 10px;
            a {
              img{
                width: 30px;
              }
            }
          }
        }
        @include desktop(){
          margin: 20px -10px 0;
        }
      }








    // 版腳下--------------------------------
    .footerCopyLink{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 32px;
    }
        .copyright{
          font-size:$font-sl;
          color: #fff;
          font-family: 'Roboto', sans-serif;
          @include iPad(){
            margin-bottom: 5px;
          }
        }

        // 版腳連結
        .link_f{
          margin: 0 -24px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          li{
            padding: 0 24px;
            a{
              font-size: $font-fl;
              color: #fff;
            }
          }
          @include iPad(){
            width: 100%;
            margin: 0px;
            display: block;
            align-items: unset;
            flex-wrap: unset;
            li{
              padding: 5px 0px;
            }
          }
        }













